/**
 *  Copyright (C) 2010 Scott Novis <scott@novisware.com>
 *
 *  This program is free software: you can redistribute it and/or modify it under the terms 
 *  of the GNU General Public License as published by the Free Software Foundation, version.
 *
 *  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 *  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 *  See the GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along 
 *  with this program. 
 *  
 *  If not, see <http://www.gnu.org/licenses/>.
 **/
 
/**
 * Style sheet for my plugin
 */
.connected { margin: 0; padding: 0; }
.row { list-style: square; margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 2em; font-size: 1em; height: 18px; 
							background-color: #CCFFFF; display: block; 
							border: 1px solid #666666; 
							}
.drill  { width: 400px; display: inline-table; }
span.duration { width: 50px; text-align: right; display: inline-block; height: 18px;
								margin: 0px; padding: 0px; 
}
.time { width: 50px; display: inline-table; text-align: right; float: right; }
.editable { background-color:#FFFFCC; }

ul li.row { margin: 0px; text-indent: 0px; line-height: inherit; list-style: square;  }

#hhmm { display: inline; font-weight: bold; }
.right { text-align: right; }
.editInPlace { line-height: 18px; }

h2.tsll_title {
    color: #300;
}

table.RESV_TABLE {
    font-size: 10pt;
}

th.DATE_HEADER {
    width: 48px;
}
th.TIME_HEADER {
    width: 40px;
}
th.FIELD_HEADER {
    width: 64px;
}
th.REQ_HEADER {
    width: 64px
}
tr.MARKED {
    background-color: #FFd;
}
td.OPEN {
    text-align: center;
}

td.OPEN:hover {
    background-color: #33FFFF;
}

td.MINORS {
    background-color: yellow;
    text-align: center;
}

td.MAJORS {
    background-color: purple;
    color: white;
    text-align: center;
}

td.FARM-A {
    background-color: #00E800;
    color: #000;
    text-align: center;
}

td.FARM-N {
    background-color: darkgreen;
    color: white;
    text-align: center;
}

td.JR-SR {
    background-color: #07F;
    color: #000;
    text-align: center;
}

td.BLACKEDOUT {
    background-color: #000;
    color: #777;
    text-align: center;
}

td.UNAVAIL {
    background-color: #777;
    color: #FFF;
    text-align: center;
}

td.LEAGUE {
    text-align: center;
}

td.TSLL {
    background-color: #000;
    color: #777;
    text-align: center;
}

td.INTRALEAGUE {
    background-color: #FA0;
}

td.DATE, td.TIME {
    text-align: right;
    
}

td.DATE {
    background-color: #FFF;
}

tr.PROTECTED {
    background-color: #EDD;
}
tr.PROTECTED td.DATE,
tr.PROTECTED td.TIME,
tr.PROTECTED td.OPEN,
tr.PROTECTED td.LEAGUE {
    background-color: #EDD;
}

tr.PROTECTED td.OPEN:hover {
    background-color: #33FFFF;
}

tr.CLOSED {
    background-color: #AAA;
    color: #777;
}

tr.CLOSED td.CLOSED {
    text-align: center;
}
tr.CLOSED td.TIME,
tr.CLOSED td.DATE {
    color: #000;
    background-color: #FFF;
    
}

div#tsll_results {
    text-align: center;
    width: 680px;
}

div#request_form_div {
    text-align: center;
}

td.REQUEST {
    text-align: center;
    background-color: #BBB;
    color: #003;
    font-weight: bold;
}

td.REQUEST:hover {
    background-color: #2AE;
}

#tsll_instructions b {
    color: #300;
    
}



.ERROR {
    color: #500;
    font-style: italic;
    font-weight: bold;
    font-family: serif;
    margin: 5px;
    padding: 5px;
    display: block;

}

a.BUTTON {
    display: inline;
    width: 45px;
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
    padding: 3px;
    margin: 5px;
    line-height: 30px;
    
}

a.BUTTON:hover {
    background-color: #15B;
    color: #FFF;
}

.note {
    background-color: #FFFFCC;
    border: 1px solid rgb(204,204,204);
}

div.resv_panel {
    width: 100%;
    overflow: auto;
}
div.hidden {
    display: none;
}
DL.score dd {
    margin: 0;
    padding-left: 2em;
}
div.notes {
    background-color:#ECF1EF;
    display: block;
    width: 620px;
    height: 240px;
    padding: 10px;
}

table#resv_table {
    table-layout: fixed;
}

table#resv_table tr td,
table#resv_table tr th {
	padding: 2px;
}