<?php
/**
 *  Copyright (C) 2010 Scott Novis <scott@novisware.com>
 *
 *  This program is free software: you can redistribute it and/or modify it under the terms 
 *  of the GNU General Public License as published by the Free Software Foundation, version.
 *
 *  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 *  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 *  See the GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along 
 *  with this program. 
 *  
 *  If not, see <http://www.gnu.org/licenses/>.
 **/
 
    /**
     * Check to see if form needs to be prepopulated
     * empty means we're adding.  populated means we're editing.
     */
    
    if ($view->gametime) {
        $id = $view->gametime['id'];
        $day = $view->gametime['day'];
        $start_time = $view->gametime['start_time'];
        $notes = $view->gametime['notes'];
    } else {
        $id = null;
        $day = null;
        $start_time = null;
        $notes = null;
    }
?>
<div class="wrap">
    
    <h3>Add / Edit a <?= $label ?></h3>
    * indicates mandatory field
    <div class="box">
        <form id="gametime_form" method="post" action="<?= $_SERVER['REQUEST_URI'] ?>">
            <input type="hidden" id="id" name="id" value="<?= $id ?>" />
            <input type="hidden" id="action" name="action" value="<?= $view->action ?>" />
            <ul>
                <li>
                    <label class="tsll_label" for="day">Day <span> *</span>: </label>
                    <?= $view->selectDayHtml ?>   
                </li>                 
                <li>
                    <label class="tsll_label" for="start_time">Start Time : </label>
                    <?= $view->selectStartTimeHtml ?>
                </li>
                <li>
                    <label class="tsll_label" for="notes">Notes : </label>
                    <input id="notes" name="notes" maxlength="32" size="48"  value="<?= $notes ?>" />

                </li> 
            </ul>
            <span class="button_row">
                <input class='button-secondary' type="button" name="cancel" value="Cancel" id="cancelbutton"
                 onclick="javascript:window.location='<?= $view->cancel_path ?>'"/>
                <input class='button-primary' type="submit" name="Add" value="<?= $view->action ?> <?= $label ?>" id="submitbutton"/></span>
        </form>
    </div>
    
    <br/>
</div>

        