
<?php
/**
 *  Copyright (C) 2010 Scott Novis <scott@novisware.com>
 *
 *  This program is free software: you can redistribute it and/or modify it under the terms 
 *  of the GNU General Public License as published by the Free Software Foundation, version.
 *
 *  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 *  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 *  See the GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along 
 *  with this program. 
 *  
 *  If not, see <http://www.gnu.org/licenses/>.
 **/
 
    if ($view->gametime) {
        $id = $view->gametime['id'];
        $day = $view->gametime['day'];
        $start_time = $view->gametime['start_time'];
        $notes = $view->gametime['notes'];
        $created = $view->gametime['created'];
        $modified = $view->gametime['modified'];
    } 

?>
<div class="wrap">
    
    <div class="box">
        <h3>Delete Game Time <?= $day . " " . $start_time ?> From Template?</h3>
        <p>Key info</p>
        <dl>
            <dt>id</dt><dd><?= $id ?></dd>
            <dt>Day</dt><dd><?= $day ?></dd>
            <dt>Time</dt><dd><?= $start_time ?></dd>
            <dt>Created</dt><dd><?= $created ?></dd>
            <dt>Modified</dt><dd><?= $modified ?></dd>
        </dl>
        <form id="delete_form" method="post" action="<?= $_SERVER['REQUEST_URI'] ?>">
            <input type="hidden" id="id" name="id" value="<?= $id ?>" />
            <input type="hidden" id="action" name="action" value="<?= $view->action ?>" />
            <span class="button_row">
                <input class='button-primary' type="button" name="cancel" value="Cancel" id="cancelbutton"
                 onclick="javascript:window.location='<?= $view->cancel_path ?>'"/>
                <input class='button-secondary' type="submit" name="delete" value="Delete" id="submitbutton"/>
            </span>
        </form>
    </div>
    
    <br/>
</div>
