<?php
/**
 *  Copyright (C) 2010 Scott Novis <scott@novisware.com>
 *
 *  This program is free software: you can redistribute it and/or modify it under the terms 
 *  of the GNU General Public License as published by the Free Software Foundation, version.
 *
 *  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 *  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 *  See the GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along with this program. 
 *  If not, see <http://www.gnu.org/licenses/>.
 **/

    if ($view->team) {
        $id = $view->team['id'];
        $name = $view->team['name'];
        $manager = $view->team['manager'];
        $email = $view->team['email'];
        $division = $view->team['division'];
    } else {
        $id = null;
        $name = null;
        $manager = null;
        $email = null;
        $division = null;
    }
?>
<div class="wrap">
    
    <h3>Add a Team</h3>
    * indicates mandatory field
    <div class="box">
        <form id="team_form" method="post" action="<?= $_SERVER['REQUEST_URI'] ?>">
            <input type="hidden" id="id" name="id" value="<?= $id ?>" />
            <input type="hidden" id="action" name="action" value="<?= $view->action ?>" />
            <ul>
                <li>
                    <label for="name">Team Name <span> *</span>: </label>
                    <input id="name" name="name" maxlength="32" size="16" value="<?= $name ?>" />
                </li>
                <li>
                    <label for="manager">Manager <span> *</span>: </label>
                    <input id="manager" name="manager" maxlength="32" size="16"  value="<?= $manager ?>" />
                </li>
                <li>
                    <label for="email">Email <span> *</span>: </label>
                    <input id="email" name="email" maxlength="64" size="32" value="<?= $email ?>" />
                </li>
                <li>
                    <label for="Division">Division <span> *</span>: </label>
                    <select id="division" name="division" value="<?= $division ?>">
                        <option value="MAJORS" <?= ($division == 'MAJORS') ? "selected='selected'" : "" ?> >Majors</option>
                        <option value="MINORS" <?= ($division == 'MINORS') ? "selected='selected'" : "" ?> >Minors</option>
                        <option value="FARM-A" <?= ($division == 'FARM-A') ? "selected='selected'" : "" ?> >Farm AAA</option>
                        <option value="FARM-N" <?= ($division == 'FARM-N') ? "selected='selected'" : "" ?> >Farm AA</option>
                        <option value="JR-SR" <?= ($division == 'JR-SR') ? "selected='selected'" : "" ?> >Junior / Senior</option>
                    </select>    
                </li>            
            </ul>
            <span class="button_row">
                <input class='button-secondary' type="button" name="cancel" value="Cancel" id="cancelbutton"
                 onclick="javascript:window.location='<?= $view->cancel_path ?>'"/>
                <input class='button-primary' type="submit" name="Add" value="<?= $view->action ?> Team" id="submitbutton"/></span>
        </form>
    </div>
    
    <br/>
</div>

        