
<?php
/**
 *  Copyright (C) 2010 Scott Novis <scott@novisware.com>
 *
 *  This program is free software: you can redistribute it and/or modify it under the terms 
 *  of the GNU General Public License as published by the Free Software Foundation, version.
 *
 *  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 *  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 *  See the GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along 
 *  with this program. 
 *  
 *  If not, see <http://www.gnu.org/licenses/>.
 **/
 
    if ($view->request) {
        $id = $view->request['id'];
        $team_id = $view->request['team_id'];
        $req1 = $view->request['req1'];
        $req2 = $view->request['req2'];
        $req3 = $view->request['req3'];
        $req4 = $view->request['req4'];
        $req5 = $view->request['req5'];
        $req6 = $view->request['req6'];
        $created = $view->request['created'];
        $modified = $view->request['modified'];
    }

?>
<div class="wrap">
    
    <div class="box">
        <h3>Delete Request <?= $id ?>?</h3>
        <p>Key info</p>
        <dl>
            <dt>id</dt><dd><?= $id ?></dd>
            <dt>Team_id</dt><dd><?= $team_id ?></dd>
            <dt>Request1</dt><dd><?= $req1 ?></dd>
            <dt>Request2</dt><dd><?= $req2 ?></dd>
            <dt>Request3</dt><dd><?= $req3 ?></dd>
            <dt>Request4</dt><dd><?= $req4 ?></dd>
            <dt>Request5</dt><dd><?= $req5 ?></dd>
            <dt>Request6</dt><dd><?= $req6 ?></dd>

            <dt>Created</dt><dd><?= $created ?></dd>
            <dt>Modified</dt><dd><?= $modified ?></dd>
        </dl>
        <form id="delete_form" method="post" action="<?= $_SERVER['REQUEST_URI'] ?>">
            <input type="hidden" id="id" name="id" value="<?= $id ?>" />
            <input type="hidden" id="action" name="action" value="<?= $view->action ?>" />
            <span class="button_row">
                <input class='button-primary' type="button" name="cancel" value="Cancel" id="cancelbutton"
                 onclick="javascript:window.location='<?= $view->cancel_path ?>'"/>
                <input class='button-secondary' type="submit" name="delete" value="Delete" id="submitbutton"/>
            </span>
        </form>
    </div>
    
    <br/>
</div>
