<?php
/**
 *  Copyright (C) 2010 Scott Novis <scott@novisware.com>
 *
 *  This program is free software: you can redistribute it and/or modify it under the terms 
 *  of the GNU General Public License as published by the Free Software Foundation, version.
 *
 *  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 *  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 *  See the GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along 
 *  with this program. 
 *  
 *  If not, see <http://www.gnu.org/licenses/>.
 **/

$request_path = $view->cancel_path;
?>
<div class="wrap">
    <h3>Most Recent Requests</h3>
    <table id="team_table" class="widefat">
        <thead>
            <tr>
                <th>id</th>
                <th>Team Name</th>
                <th>Division</th>
                <th>Req1</th>
                <th>Req2</th>
                <th>Req3</th>
                <th>Req4</th>
                <th>Req5</th>
                <th>Req6</th>
                <th>Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>id</th>
                <th>Team Name</th>
                <th>Division</th>
                <th>Req1</th>
                <th>Req2</th>
                <th>Req3</th>
                <th>Req4</th>
                <th>Req5</th>
                <th>Req6</th>
                <th>Created</th>
                <th>Action</th>
            </tr>
        </tfoot>        
        <tbody>
            <?php
                if (!empty($view->requests)) {
                    foreach ($view->requests as $request) {
                        print "<TR>";
                        foreach ($request as $key => $field) {
                            print "<TD>{$field}</TD>"; 
                        }
                        $edit_action = $request_path . "&action=Edit&id=" . $request['id'];
                        $delete_action = $request_path . "&action=Delete&id=" . $request['id'];
                        print "<TD><A HREF='$edit_action'>Edit</A>|<A HREF='$delete_action'>Delete</A></TD>";
                        print "</TR>";
                    }
                }
            ?>
        </tbody>
    </table>
</div>


