<?php
/**
 *  Copyright (C) 2010 Scott Novis <scott@novisware.com>
 *
 *  This program is free software: you can redistribute it and/or modify it under the terms 
 *  of the GNU General Public License as published by the Free Software Foundation, version.
 *
 *  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 *  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 *  See the GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along with this program. 
 *  If not, see <http://www.gnu.org/licenses/>.
 **/
 
    /*
      List all the field reservations
    */
    $day_names = array('Sun','Mon','Tue','Wed','Thu','Fri','Sat');
    $request_path = $view->request_path;
?>
<div class="wrap">
    <h3>Reservations for Week of: <?= $view->report_week ?></h3>
    <center><a class="BUTTON" href="<?= $view->prev ?>">Prev</a>&nbsp;Displaying Week <?= $view->week ?>&nbsp;<a class="BUTTON" href="<?= $view->next ?>">Next</a></center>

    <table id="reservation_table" class="widefat">
        <thead>
            <tr>               
                <th>id</th>
                <th>Division</th>
                <th>Team</th>
                <th>Resv Count</th>                
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>id</th>
                <th>Division</th>
                <th>Team</th>
                <th>Resv Count</th>   
            </tr>
        </tfoot>        
        <tbody>
            <?php
            $src = WP_PLUGIN_URL.'/'.str_replace(basename( __FILE__),"",plugin_basename(__FILE__));
            $src_path = $src . '../../images';
            $total = 0;
            if (!empty($view->reservations)) {
                foreach ($view->reservations as $resv) {
                    print "<TR>";
                        print "<TD>" . $resv['id'] . "</TD>";                 
                        print "<TD>" . $resv['division']. "</TD>";
                        print "<TD>" . $resv['team_name']. "</TD>";
                        print "<TD>" . $resv['resv_count'] . "</TD>";
                        $total = $total + $resv['resv_count'];
                    print "</TR>";
                }
            }
            ?>
            <tr>
                <td colspan="3" style="text-align: right;"><strong>Total</strong></td>
                <td><strong><?= $total ?></strong></td>
            </tr>
        </tbody>
    </table>
</div>
