<?php
/**
 *  Copyright (C) 2010 Scott Novis <scott@novisware.com>
 *
 *  This program is free software: you can redistribute it and/or modify it under the terms 
 *  of the GNU General Public License as published by the Free Software Foundation, version.
 *
 *  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 *  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 *  See the GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along 
 *  with this program. 
 *  
 *  If not, see <http://www.gnu.org/licenses/>.
 **/
 
    /**
     * Check to see if form needs to be prepopulated
     * empty means we're adding.  populated means we're editing.
     */

    if ($view->field) {
        $id = $view->field['id'];
        $name = $view->field['name'];
        $description = $view->field['description'];
        $priority = $view->field['priority'];
    } else {
        $id = null;
        $name = null;
        $description = null;
        $priority = null;
    }
?>
<div class="wrap">

    <h3>Add / Edit a Field</h3>
    * indicates mandatory field
    <div class="box">
        <form id="field_form" method="post" action="<?= $_SERVER['REQUEST_URI'] ?>">
            <input type="hidden" id="id" name="id" value="<?= $id ?>" />
            <input type="hidden" id="action" name="action" value="<?= $view->action ?>" />
            <ul>
                <li>
                    <label class="tsll_label" for="name">Field Name <span> *</span>: </label>
                    <input id="name" name="name" maxlength="32" size="16" value="<?= $name ?>" />
                </li>
                <li>
                    <label class="tsll_label" for="description">Description : </label>
                    <input id="description" name="description" maxlength="64" size="48"  value="<?= $description ?>" />
                </li>
                <li>
                    <label class="tsll_label" for="priority">Priority : </label>
                    <input id="priority" name="priority" maxlength="8" size="8"  value="<?= $priority ?>" />
                </li>
            </ul>
            <span class="button_row">
                <input class='button-secondary' type="button" name="cancel" value="Cancel" id="cancelbutton"
                 onclick="javascript:window.location='<?= $view->cancel_path ?>'"/>
                <input class='button-primary' type="submit" name="Add" value="<?= $view->action ?> Field" id="submitbutton"/></span>
        </form>
    </div>

    <br/>
</div>

