<?php
/**
 *  Copyright (C) 2010 Scott Novis <scott@novisware.com>
 *
 *  This program is free software: you can redistribute it and/or modify it under the terms 
 *  of the GNU General Public License as published by the Free Software Foundation, version.
 *
 *  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 *  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 *  See the GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along 
 *  with this program. 
 *  
 *  If not, see <http://www.gnu.org/licenses/>.
 **/
 
// list all the teams
$request_path = $view->cancel_path;
?>
<div class="wrap">
    <h3>List of Fields</h3>
    <table id="team_table" class="widefat">
        <thead>
            <tr>
                <th>id</th>
                <th>Field</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>id</th>
                <th>Field</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Action</th>
            </tr>
        </tfoot>        
        <tbody>
            <?php
            if (!empty($view->fields)) {

                foreach ($view->fields as $field) {
                    print "<TR>";
                    foreach ($field as $key => $value)
                        print "<TD >{$value}</TD>"; 
                    $edit_action = $request_path . "&action=Edit&id=" . $field['id'];
                    $delete_action = $request_path . "&action=Delete&id=" . $field['id'];
                    print "<TD><A HREF='$edit_action'>Edit</A>|<A HREF='$delete_action'>Delete</A></TD>";
                    print "</TR>";
                }
            }
            ?>
        </tbody>
    </table>
   
</div>
<div class="hidden">
    <?= $view->editSelector ?>
</div>

