
<?php
/**
 *  Copyright (C) 2010 Scott Novis <scott@novisware.com>
 *
 *  This program is free software: you can redistribute it and/or modify it under the terms 
 *  of the GNU General Public License as published by the Free Software Foundation, version.
 *
 *  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 *  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 *  See the GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along 
 *  with this program. 
 *  
 *  If not, see <http://www.gnu.org/licenses/>.
 **/

?>
<div class="wrap">
    
    <div class="box">
        <h3>Batch Change Reservations</h3>
        <p>Key info: <?= $view->where ?> to : <?= $view->team_name ?></p>
        <form id="delete_form" method="post" action="<?= $_SERVER['REQUEST_URI'] ?>">
            <input type="hidden" id="where" name="where" value="<?= $view->where ?>" />
            <input type="hidden" id="team_id" name="team_id" value="<?= $view->team_id ?>" />
            <input type="hidden" id="action" name="action" value="<?= $view->action ?>" />
            <span class="button_row">
                <input class='button-primary' type="button" name="cancel" value="Cancel" id="cancelbutton"
                 onclick="javascript:window.location='<?= $view->cancel_path ?>'"/>
                <input class='button-secondary' type="submit" name="change" value="Change" id="submitbutton"/>
            </span>
        </form>
    </div>
    
    <br/>
</div>
