<?php
/**
 *  Copyright (C) 2010 Scott Novis <scott@novisware.com>
 *
 *  This program is free software: you can redistribute it and/or modify it under the terms 
 *  of the GNU General Public License as published by the Free Software Foundation, version.
 *
 *  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 *  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 *  See the GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along 
 *  with this program. 
 *  
 *  If not, see <http://www.gnu.org/licenses/>.
 **/

    /*
      List all the field reservations
    */
    $day_names = array('Sun','Mon','Tue','Wed','Thu','Fri','Sat');
    $request_path = $view->request_path;
?>
<div class="wrap">
    <div id="accordion">
        <a href="#" class="hidable"><h3>Generate Weekly Reservations<span class="clue">...</span></h3></a>
        <div class="box">
            <form id="generate_form" action="<?= $_SERVER["REQUEST_URI"]?>" method="post">
                <label for="start_date">Date:</label> <input name="start_date" type="text" id="tsll_datepicker" value="<?= $view->nextWeek ?>"/>
                <?= $view->fieldCheckBoxesHtml ?>
                <input type="hidden" name="action" id="action" value="Generate" />
                <input type="submit" name="submit" value="Generate" />
            </form>
        </div>
        
        <a href="#" class="hidable"><h3>Add / Edit a <?= $label ?><span class="clue">...</span></h3></a>
        <div id="edit_form_container" class="box">
            <small>* indicates mandatory field</small>
            <form id="reservation_form" method="post" action="<?= $_SERVER['REQUEST_URI'] ?>">
                <input type="hidden" id="id" name="id" value="<?= $id ?>" />
                <input type="hidden" id="action" name="action" value="<?= $view->action ?>" />
                <ul>
                    <li>
                        <label class="tsll_label" for="gamedate">Date <span> *</span>: </label>
                        <input name="gamedate" type="text" id="tsll_reservation_datepicker" value="<?= $view->gamedate ?>" />   
                    </li>                 
                    <li>
                        <label class="tsll_label" for="start_time">Start Time : </label>
                        <?= $view->selectTimeHtml ?>
                    </li>
                    <li>
                        <label class="tsll_label" for="field_id">Field : </label>
                        <?= $view->selectFieldHtml ?>
                    </li>                    
                    <li>
                        <label class="tsll_label" for="team_id">Team : </label>
                        <?= $view->selectTeamHtml ?>
                    </li>
                </ul>
                <span class="button_row">
                    <input class='button-secondary' type="button" name="cancel" value="Cancel" id="cancelbutton"
                     onclick="javascript:window.location='<?= $view->cancel_path ?>'"/>
                    <input class='button-primary' type="submit" name="Add" value="<?= $view->action ?> <?= $label ?>" id="submitbutton"/></span>
            </form>
        </div>
        <a href="#" class="hidable"><h3>Jump To Week<span class="clue">...</span></h3></a>
        <div class="box">
            <h4>Reservation Summary</h4>
            <table  style="padding:0px;" cellpadding="0px" cellspacing="0px">
                <tr><th>Week</th><th>Utlization</th><th>Jump</th></tr>
                <?php
                    $year = date('Y'); // this year
                    foreach ($view->reservation_summary as $week_summary) {

                        $weekNum = $week_summary['ww'];
                        $time_code = $year . '0104 +' . ($weekNum - 1) . ' weeks';
                        $timestamp = strtotime($time_code);
                        $time_code = '-' . (date('w', $timestamp)-1) . ' days';
                        $mondayTime = strtotime($time_code, $timestamp);
                        $jumpDate = date("Y-m-d",$mondayTime);
                        $readableDate = date("M-d-Y",$mondayTime);
                        $open = $week_summary['open_fields'];
                        $total = $week_summary['total_fields'];
                        $now = date('w');
                        $time_code = $year . '0104 +' . ($now - 1) . ' weeks';
                        $timestamp = strtotime($time_code);
                        $time_code = '-' . (date('w', $timestamp)-1) . ' days';
                        $nowTime = strtotime($time_code, $timestamp);
                        
                        $nowDate = date("Y-m-d",$nowTime);
                        
                        $style =  $nowDate==$jumpDate ? ' style="background-color:lightyellow" ' : "";
                        
                        print "<tr $style>";
                        print "<td style='padding: 0px 5px 0px 15px;'>$readableDate</td>";
                        $remainder = $total-$open;
                        if ($remainder > 0)
                            $utilization = ($remainder + 0.0) / ($total + 0.0) * 100.0;
                        else
                            $utilization = 0.0;
                        print "<td style='text-align:center; padding: 0px 5px 0px 5px;'>". number_format($utilization,1) . "% ($open/$total)</td>";
                        $jump = $view->request_path . "&week=" . $jumpDate;
                        print "<td style='padding: 0px 5px 0px 5px;'><a class='BUTTON' href='$jump'>View</a></td>";
                        print "</tr>";
                    }

                ?>
            </table>
        </div>
    </div>
    <h3>Reservations for Week of: <?= $view->report_week ?></h3>
    <?= $view->summary_html ?>
    <center><a class="BUTTON" href="<?= $view->prev ?>">Prev</a>&nbsp;Displaying Week <?= $view->week ?>&nbsp;<a class="BUTTON" href="<?= $view->next ?>">Next</a></center>
    <form id="reservation_table_form" method="post" action="<?= $request_path ?>">
    <table id="reservation_table" class="tablesorter">
        <thead>
            <tr>              
                <th>id</th>
                <th>Date</th>
                <th>Day</th>
                <th>Time</th>                
                <th>Field</th>
                <th>Team</th>
                <th>Division</th>
                <th colspan="3" align='center'>Action</th>                  
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>id</th>
                <th>Date</th>
                <th>Day</th>
                <th>Time</th>                
                <th>Field</th>
                <th>Team</th>
                <th>Division</th>
                <th colspan="3" align='center'>Action</th>                
            </tr>
        </tfoot>        
        <tbody>
            <?php
            $src = WP_PLUGIN_URL.'/'.str_replace(basename( __FILE__),"",plugin_basename(__FILE__));
            $src_path = $src . '../../images';            
            if (!empty($view->reservations)) {
                foreach ($view->reservations as $resv) {
                    print "<TR>";
                        print "<TD class='resv_id'>" . $resv['id'] . "</TD>";
                        print "<TD>" . date('M-d, Y',strtotime($resv['gamedate'])). "</TD>";
                        print "<TD>" . date('l',strtotime($resv['gamedate'])). "</TD>";
                        $utime = date('H:i:00',strtotime($resv['gamedate']));
                        print "<TD index='".$utime."'>" . date('g:i a',strtotime($resv['gamedate'])). "</TD>";                   
                        print "<TD index='".$resv['field_id']."'>" . $resv['field_name'] . "</TD>";
                        print "<TD index='".$resv['team_id']."'>" . $resv['team_name']. "</TD>";
                        $class = strtoupper($resv['division']);
                        if ($resv['team_name'] == "RETURNED") $class = "UNAVAIL";
                        print "<TD class='".$class."'>" . $resv['division']. "</TD>";
                        
                        print "<TD width='16' valign='top' align='center'><input type='checkbox' name='record_id[]' value='{$resv['id']}'/></td>";
                        $edit_action = $request_path . "&action=Edit&id=" . $resv['id'];
                        $delete_action = $request_path . "&action=QDel&id=" . $resv['id'];
                        if ($view->week_offset) {
                            $edit_action .= "&week=" . $view->week_offset;
                            $delete_action .= "&week=" . $view->week_offset;
                        }

                        print "<TD width='16' valign='top' align='center'><A HREF='$edit_action'><img src='$src_path/edit.png'/></A></TD>";
                        print "<TD width='16' valign='top' align='center'><A HREF='$delete_action'><img src='$src_path/delete.png'/></A></TD>";                     

                    print "</TR>";
                }
            }
            ?>
        </tbody>
    </table>
    <input type="hidden" id="batch_action" name="action" value="batchDelete" />
    <div style="float: right;">
    <table>
        <tr>       
            <TD><?= $view->batchSelectTeamHtml ?><button id="batch_edit" type="button"  onclick="submit_edit();"><img src='<?= $src_path ?>/edit.png'/></button></TD>
            <TD><button type="submit"><img src='<?= $src_path ?>/delete.png'/></button></TD>
            <TD><small><a id="checkall" href="#">Check All</a></small></TD>
            <TD><small><a id="uncheckall" href="#">Uncheck All</a></small></TD>             
        </tr>
    </table>
    </div>
    </form>
    <script type="text/javascript">
        // Need to pass some values from php to javascript, and here's a way to do it.
        // onDomReady() event should make sure these are set BEFORE they are accessed.
        var tsll_src_path = "<?= $src_path; ?>";
        var tsll_request_path = "<?= $request_path; ?>";
    </script>
</div>
