<?php
/**
 *  Copyright (C) 2010 Scott Novis <scott@novisware.com>
 *
 *  This program is free software: you can redistribute it and/or modify it under the terms 
 *  of the GNU General Public License as published by the Free Software Foundation, version.
 *
 *  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 *  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 *  See the GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along 
 *  with this program. 
 *  
 *  If not, see <http://www.gnu.org/licenses/>.
 **/
?>

<div class="wrap">
    <h2>Tempe South Little League Field Reservation Plugin</h2>
    <p>This plugin is designed to help manage field reservations for teams
    playing in Tempe South Little league in 2010.</p>
    
    <h3>Usage</h3>
    <p>To use this utility you would run the following steps</p>
    <ol>
        <li>Enter all your teams <small>(Who is allowed to make a reservation)</small></li>
        <li>Enter all your fields <small>(Where teams can practice or play)</small></li>
        <li>Check the slot template - <small>(what times are available to reserve every week)</small></li>
        <li>Generate the weekly field times</li>
        <li>Block out times that are reserved in advance</li>
        <li>Activate the reservation page.</li>
    </ol>
    
    <h3>Creating Front End Pages</h3>
    <dl>
        <dt>Weekly Calendar View</dt>
        <dd>This page or post displays the field reservations for a given week.  The Syntax is: {TSLLWEEK:YYYY-MM-DD}</dd>
    </dl>
    <br/>
    <h3>Notes</h3>
    <p>Use the Options Menu to set when the Registration Request Page is available and when it closes</p>
    <hr/>
    <h3>Season Summary Statistics</h3>
    <?= $view->table_html ?>
</div>
