<?php
/**
 *  Copyright (C) 2010 Scott Novis <scott@novisware.com>
 *
 *  This program is free software: you can redistribute it and/or modify it under the terms 
 *  of the GNU General Public License as published by the Free Software Foundation, version.
 *
 *  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 *  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 *  See the GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along 
 *  with this program. 
 *  
 *  If not, see <http://www.gnu.org/licenses/>.
 **/
 
    /**
     * Check to see if form needs to be prepopulated
     * empty means we're adding.  populated means we're editing.
     */
    
    if ($view->options) {
        $open_requests_date = $view->options['open_requests_date'];
        $open_requests_time = $view->options['open_requests_time'];
        $close_requests_date = $view->options['close_requests_date'];
        $close_requests_time = $view->options['close_requests_time'];
        $display_week = $view->options['display_week'];
        $report_week = $view->options['report_week'];
    } else {
        $open_requests_date = null;
        $open_requests_time = null;
        $close_requests_date = null;
        $close_requests_time = null;
        $display_week = null;
        $report_week = null;
    }
?>
<div class="wrap">
    
    <h3>Edit Options</h3>
    <div class="box">
        <h4>Reservation Requests Open / Close Times:</h4>
        <form id="open_request_form" method="post" action="<?= $_SERVER['REQUEST_URI'] ?>">
            <input type="hidden" id="action" name="action" value="update" />
            <ul>
                <li>
                    <label class="tsll_label" for="open_request_date">Open Date: </label>
                    <input type="text" id="open_requests_date" name="open_requests_date" value="<?= $open_requests_date ?>" />    
                </li>                 
                <li>
                    <label class="tsll_label" for="start_time">Open Time : </label>
                    <?= $view->selectOpenTimeHtml ?>
                </li>
                <li>
                    <label class="tsll_label" for="close_request_date">Close Date: </label>
                    <input type="text" id="close_requests_date" name="close_requests_date" value="<?= $close_requests_date ?>" />    
                </li>                 
                <li>
                    <label class="tsll_label" for="start_time">Close Time : </label>
                    <?= $view->selectCloseTimeHtml ?>
                </li>
                <li>
                    <label class="tsll_label" for="display_week">Display Week: </label>
                    <input type="text" id="display_week" name="display_week" value="<?= $display_week ?>" />    
                </li>
                <li>
                    <label class="tsll_label" for="report_week">Report Week: </label>
                    <input type="text" id="report_week" name="report_week" value="<?= $report_week ?>" />    
                </li>                 
            </ul>
            <span class="button_row">
                <input class='button-primary' type="submit" name="Update" value="Update" id="submitbutton"/>
            </span>
        </form>
    </div>
</div>
