<h2 class="tsll_title">Field Reservation Tool</h2>

<div id="tsll_instructions">
  <p>The Field Reservation System is Closed until {OPEN_TIME}</p>
  <p>You may submit new field requests as soon as the system is open.</p>
  <p>The next reservation window is for the week starting {START_DATE}</p>
</div>
<hr/>
<div id="legend_div" style="font-size: 10px;" >
  <center>
  <table border="1px solid black" cellpadding="3px" cellspacing="0">
    <tr>
      <td>Legend: </th>
      <td class="MAJORS">Majors</td>
      <td class="MINORS">Minors</td>
      <td class="FARM-A">Farm AAA</td>
      <td class="FARM-N">Farm AA</td>
      <td class="OPEN">OPEN</td>
      <td class="LEAGUE">League</td>
      <td class="BLACKEDOUT">BLACKEDOUT</td>
    </tr> 
  </table>
  </center>
  <br/>
</div>
<div id="tsll_table_div"><center>{TABLE}</center></div>