<style>
.note {
    background-color: #FFFFCC;
    border: 1px solid #EEEEBB;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
</style>
<h2 class="tsll_title">Field Reservation Tool</h2>

<div id="tsll_instructions">
  <p>{STATUS}</p>
</div>

<form name="release_form" id="release_form" action="" method="post">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <td><label for="reservation_id">Reservation Number:</label> </td>
      <td><input type="text" name="reservation_id" id="resevation_id" style="text-align:right" value="{RESERVATION_ID}" size="8" /></td>

    </tr>
    <tr>
      <td><label for="reservation_id">Release Code:</label> </td>      
      <td><input type="text" name="release_code" id="release_code" style="text-align:right" value="{RELEASE_CODE}" size="8" /></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:right; padding-right: 120px;">
        <input name="release_button" type="submit" value="Release" />
        <input name="cancel_button" type="submit" value="Cancel" />
      </td>
    </tr>
  </table>
  <input type="hidden" name="tsll_action" value="release" />
</form>
