<h2 class="tsll_title">Field Reservation Tool</h2>
<hr/>
<div id="tsll_instructions">
  <p><strong>{USER_NAME}</strong>.  Manager of <strong>{DIVISION} {TEAM_NAME}</strong>.</p>
  <p>For <strong>{DATE_THISWEEK}</strong> fields are: <strong>{RULES_THISWEEK}</strong>.<br/>
     For <strong>{DATE_NEXTWEEK}</strong> fields are: <strong>{RULES_NEXTWEEK}</strong>.</p>
  <p>The {TEAM_NAME} have <strong>{COUNT}</strong> fields reserved for the week of <strong>{DATE_THISWEEK}<strong>.</p>
</div>

<div id="login_block">
  <form name="tsll_login">
    Make Reservation: <input id="btn_submit" type="submit" name="submit" value="Reserve" />
  </form>
</div>

<div id="tsll_results"></div>
<hr/>
<div id="legend_div" style="font-size: 10px;" >
  Legend:<br/>
  <center>
    <table border="1px solid black" cellpadding="3px" cellspacing="0">
      <tr>
        <td class="MAJORS">Majors</td>
        <td class="MINORS">Minors</td>
        <td class="FARM-A">Farm AAA</td>
        <td class="FARM-N">Farm AA</td>
        <td class="OPEN">OPEN</td>
        <td class="LEAGUE">League</td>
        <td class="BLACKEDOUT">BLACKEDOUT</td>
      </tr> 
    </table>
  </center>
  <br/>
</div>
<div id="tsll_table_div"> 
  <center>
    <h3>Fields For The Week of {DATE_THISWEEK}</h3>
    {THISWEEK}
  </center>
  <hr/>
  <center>
    <h3>Fields For The Week of {DATE_NEXTWEEK}</h3>
    {NEXTWEEK}
  </center>
</div>

<div id="tsll_dialog" title="TSLL Request Field Tool"></div>
