
  <h3>TSLL Leagues</h3>

  <table id="results_table" class="widefat">
      <thead>
          <tr>               
              <th>Division</th>
              <th>Teams</th>
              <th>Games</th>                
          </tr>
      </thead>
      <tfoot>
          <tr>               
              <th>Division</th>
              <th>Teams</th>
              <th>Games</th>                
          </tr>
      </tfoot>        
      <tbody>
          <tr><td><a href="{REQUEST_PATH}?mode=results&division=majors">Majors</a></td><td>10</td><td>90</td></tr>
          <tr><td><a href="{REQUEST_PATH}?mode=results&division=minors">Minors</a></td><td>11</td><td>77</td></tr>
      </tbody>
  </table>
