<h2 class="tsll_title">Field Reservation Tool</h2>

<div id="tsll_instructions">
  <p>You are not assigned to manage at team.</p>
  <p>Therefore you may view the field schedule but not make reservation requests.</p>
</div>
<hr/>
<div id="legend_div" style="font-size: 10px;" >
  <center>
  <table border="1px solid black" cellpadding="3px" cellspacing="0">
    <tr>
      <td>Legend: </th>
      <td class="MAJORS">Majors</td>
      <td class="MINORS">Minors</td>
      <td class="FARM-A">Farm AAA</td>
      <td class="FARM-N">Farm AA</td>
      <td class="OPEN">OPEN</td>
      <td class="LEAGUE">League</td>
      <td class="BLACKEDOUT">BLACKEDOUT</td>
    </tr> 
  </table>
  </center>
  <br/>
</div>
<div id="tsll_table_div">
  
  <center>
    <h3>Field Reservations For The Week of {DATE_THISWEEK}</h3>
    {THISWEEK}
  </center>
  <hr/>
  <center>
    <h3>Field Reservations For The Week of {DATE_NEXTWEEK}</h3>
    {NEXTWEEK}
  </center>
</div>