<?php
/**
 *  Copyright (C) 2010 Scott Novis <scott@novisware.com>
 *
 *  This program is free software: you can redistribute it and/or modify it under the terms 
 *  of the GNU General Public License as published by the Free Software Foundation, version.
 *
 *  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 *  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 *  See the GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along with this program. 
 *  If not, see <http://www.gnu.org/licenses/>.
 **/
 
    /*
      List all the field reservations
    */
    $day_names = array('Sun','Mon','Tue','Wed','Thu','Fri','Sat');
?>
<div class="wrap">
    
    <h3>Create Field Inventory</h3>
    <form action="<?= $_SERVER["REQUEST_URI"]?>" method="post">
        <input type="hidden" name="action" id="action" value="Generate" />
        <input type="submit" name="submit" value="Generate" />
    </form>
    
    <h3>List of Slots</h3>
    <table class="widefat">
        <thead>
            <tr>
                <th>id</th>
                <th>Field</th>
                <th>Group</th>
                <th>Team</th>                
                <th>Day</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>id</th>
                <th>Field</th>
                <th>Group</th>
                <th>Team</th>                
                <th>Day</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </tfoot>        
        <tbody>
            <?php
                foreach ($view->slots as $slot) {
                    print "<tr>";
                    
                    print "<td>" . $slot['id'] . "</td>"; 
                    print "<td>" . $slot['code'] . "</td>";

                    $group = ($slot['group_id']==0 )? "open" : $slot['gname'];
                    print "<td>" . $group. "</td>";
                    $team = ($slot['team_id']==0 )? "open" : $slot['tname'];
                    print "<td>" . $team. "</td>";                     
                    print "<TD>" . $day_names[$slot['day']] . "</TD>";
                    print "<TD>" . date('g:i a',strtotime($slot['start'])). "</TD>";
                    print "<TD>" . date('g:i a',strtotime($slot['end'])). "</TD>";

                    print "</tr>";
                }
            ?>
        </tbody>
    </table>
</div>